<!-- <p>

  {{ classificacaoContas$ | async | json }}

</p>



<p *ngFor="let classificacaoConta of classificacaoContas$ | async">

  {{ classificacaoConta.idClassificacaoConta}}
  {{ classificacaoConta.idCliente}}
  {{ classificacaoConta.descricaoClassificacaoConta}}

</p>  -->



<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content
    <app-classificacao-conta>

    </app-classificacao-conta>
  </mat-drawer-content>
</mat-drawer-container>