<mat-form-field>
    <mat-label>Descrição da classificação</mat-label>
    <input matInput [(ngModel)]="descricaoClassificacao" />
  </mat-form-field>
  
  <button mat-flat-button color="primary" (click)="adicionarClassificacao()">Adicionar</button>
  

<table mat-table [dataSource]="listaLancamentos" class="mat-elevation-z8">
    <ng-container matColumnDef="idClassificacaoConta">
        <th mat-header-cell *matHeaderCellDef> idClassificacaoConta </th>
        <td mat-cell *matCellDef="let item"> {{item.idClassificacaoConta}} </td>
    </ng-container>

    <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef> idCliente </th>
        <td mat-cell *matCellDef="let item"> {{item.idCliente}} </td>
    </ng-container>
    

    <ng-container matColumnDef="descricaoClassificacaoConta">
        <th mat-header-cell *matHeaderCellDef> descricaoClassificacaoConta </th>
        <td mat-cell *matCellDef="let item"> {{item.descricaoClassificacaoConta}} </td>
    </ng-container>


        <!-- Coluna de ações (botões) -->
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let item">
      <button mat-icon-button color="warn" (click)="excluirClassificacaoConta(item.idClassificacaoConta)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


    <!-- Header da tabela -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Linhas da tabela -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  
  